<p id="notice"><%= notice %></p>

<h1>Translation Requests</h1>

<table>
  <thead>
    <tr>
      <th>Distant key</th>
      <th>Completed</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translation_requests.each do |translation_request| %>
    <tr>
      <td><%= translation_request.distant_key %></td>
      <td><%= translation_request.completed %></td>
      <td><%= translation_request.created_at %></td>
      <td><%= link_to 'Show', translation_request %></td>
      <td>
        <%= link_to 'Edit', edit_translation_request_path(translation_request)
        %>
      </td>
      <td>
        <%= link_to 'Import',
        fetch_translations_for_req_translation_request_path(translation_request),
        method: :post %>
      </td>
      <td>
        <%= link_to 'Destroy', translation_request, method: :delete, data: {
        confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Translation Request', new_translation_request_path %>
